<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{sinCuenta/plantilla :: head}">
        <title>EatAway</title>
    </head>
    <body>
        
        <section th:fragment="resenasUsuario">
            <div id="details" class="contenedor">
                <div class="col derecha"> 
                    <div class="mb-3">
                        <p class="nombreFuente">[[#{resena.historial}]]</p>
                    </div>
                    <hr class="my-4">
                        <form th:action="@{/resenas}" th:object="${resena}" method="POST" class="was-validated" enctype="multipart/form-data">
                            <div th:each="resena, iterStat : ${resenas}" class="resena-container">                        
                                    <h6 style="display: inline-block; margin-right: 10px;">[[#{resena.idResena}]]</h6>
                                    <p style="display: inline-block;"th:text="${resena.idResena}"></p>
                            </div>
                        </form>
                        <form th:action="@{/resenas}" th:object="${resena}" method="POST" class="was-validated" enctype="multipart/form-data">
                            <div th:each="resena, iterStat : ${resenas}" class="resena-container">                        
                                    <h6 style="display: inline-block; margin-right: 10px;">[[#{resena.calificacion}]]</h6>
                                    <p style="display: inline-block;"th:text="${resena.calificacion}"></p>
                            </div>
                        </form>
                        <form th:action="@{/resenas}" th:object="${resena}" method="POST" class="was-validated" enctype="multipart/form-data">
                            <div th:each="resena, iterStat : ${resenas}" class="resena-container">                        
                                    <h6 style="display: inline-block; margin-right: 10px;">[[#{resena.comentario}]]</h6>
                                    <p style="display: inline-block;"th:text="${resena.comentario}"></p>
                            </div>
                        </form>
                        
                            <!-- Botón de Cancelar -->
                            
                            <hr class="my-4">
                </div>
            </div>
            
              
                <div class="col izquierda">
                    <p style="text-aling: center;">ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ
                    </p>
                </div>
            </div>
        </section>
    </body>

    