<!DOCTYPE html>

<!-- contiene los fragmentos de la vista que muestra la informacion detallada de los locales -->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{sinCuenta/plantilla :: head}">
        <title>EatAway</title>
    </head>
    <body>                    
        
        <section th:fragment="detalleLocal">
            <div id="details" class="contenedor">
                <div class="col derecha">                    
                    <div class="mb-3">
                        <p class="nombreFuente" th:text="${restbar.nombre + ', ' + restbar.ubicacion}"></p>
                    </div>
                    <hr class="my-4">
                    <div class="mb-3">
                        <h6 style="display: inline-block; margin-right: 10px;">
                            <i class="fas fa-star"></i> [[#{detalle.numreseñas}]]</h6>                        
                        <h6 style="display: inline-block;">[[${totalResenas}]]</h6>
                    </div>   
                    <div class="mb-1">
                        <h6 style="display: inline-block; margin-right: 10px;">[[#{filtro.tipo}]]</h6>
                        <p style="display: inline-block;" th:text="${restbar.tipo}"></p>
                    </div>
                    <div class="mb-1">
                        <h6 style="display: inline-block; margin-right: 10px;">[[#{filtro.precio}]]</h6>
                        <p style="display: inline-block;" th:text="${restbar.precio}"></p>
                    </div>
                    <div class="mb-1">
                        <i><p th:text="${restbar.recomendaciones}"></p></i>
                    </div>
                    <br>
                    <div class="mb-1">
                        <h4>[[#{detalle.foto}]]</h4>                        
                    </div>
                    <hr class="my-4">
                    <div class="mb-5">
                        <img id="blah" th:src="@{${restbar.foto}}" alt="foto" width="250" height="200" style="border-radius: 10%;"/>
                    </div>
                        <div class="mb-4" style="display: flex; justify-content: space-between; align-items: center;">
                            <h4>[[#{detalle.resena}]]</h4>                            
                            <button style="background-color: #F54D33; color: white; border-radius: 25px; width: 200px;" type="button" class="btn" 
                            data-bs-toggle="modal" data-bs-target="#agregarResena">[[#{accion.resena}]]</button>
                        </div>
                    <hr class="my-4">
                    <!--Comentarios de los usuarios-->
                    <section th:replace="~{locales/fragmentos :: contenidoResena}"/>
                </div>                
                <div class="col izquierda">
                    <div class="mb-3">
                        <a th:href="@{/reservar/}+${restbar.idLocal}" class="btn" style="background-color: #F54D33; color: white; border-radius: 25px; width: 200px;">
                            [[#{accion.reservar}]]
                        </a>
                    </div>
                    <br><br>
                    <div class="mb-3">
                        <h6>[[#{detalle.informacion}]]</h6>
                    </div>
                    <div class="mb-3">
                        <i class="fas fa-clock"></i><h7> [[#{detalle.horario}]]</h7>
                        <p th:text="${restbar.horario}"></p>
                    </div>
                    <div class="mb-3">
                        <i class="fas fa-phone"></i><h7> [[#{detalle.tel}]]</h7>
                        <p th:text="${restbar.telefono}"></p>
                    </div>
                    <div class="mb-3">
                        <i class="fas fa-envelope"></i><h7> [[#{detalle.correo}]]</h7>
                        <p th:text="${restbar.correo}"></p>
                    </div>
                    <br><br>
                    <div class="mb-4">
                        <article>                        
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4042217.145885291!2d-87.4498466043155!3d8.354579383711433!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f92e56221acc925%3A0x6254f72535819a2b!2sCosta%20Rica!5e0!3m2!1ses-419!2scr!4v1699381503250!5m2!1ses-419!2scr"
                                    width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                        
                        </article>
                        <footer style="font-size: 12px;">Consulta Google Maps</footer>
                    </div>
                    <!-- Agrega más campos de información aquí -->
                </div>
            </div>
        </section>        
        
        <!--fragmento de la parte de reseñas de los usuarios-->
        <section th:fragment="contenidoResena">
            <div th:each="resena : ${listadoResena}" class="">
                <div class="comment">
                    <div class="comment-autor">
                        <!-- Acceder al usuario de la reseña y mostrar el nombre y la foto -->
                        <div th:with="usuarioResena=${resena.usuario}">
                            <img th:src="${usuarioResena.fotoPerfil}" alt="foto" width="50" height="50" style="border-radius: 50%;"/>
                            <p th:text="${usuarioResena.nombre} + ' ' + ${usuarioResena.priApellido}"></p>
                        </div>
                    </div>
                    <div class="comment-texto">
                        <p th:text="${resena.comentario}"></p>
                        <p style="display: inline-block; margin-right: 10px;">[[#{resena.calificacion}]]</p>
                        <p style="display: inline-block;" th:text="${resena.calificacion} + ' estrellas'"></p>
                    </div>
                </div>
            </div>            
        </section>



        
        <!-- Fragmento para agregar reseña, es la ventana modal -->
        <section th:fragment="agregarResena">
            <div id="agregarResena" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header text-dark menu-superior">
                            <p class="nombreFuente">[[#{resena.titulo}]]</p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/enviar}" th:object="${resena}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <input hidden name="idLocal" th:value="${restbar.idLocal}"/>
                                    <input hidden name="idUsuario" th:value="${restbar.idLocal}"/> <!--esto esta solo como prueba, necesita otra logica-->
                                </div>
                                <div class="mb-3">
                                    <label for="calificacion">[[#{resena.califica}]]</label>
                                    <select class="form-control" name="calificacion" id="calificacion" required="true">
                                        <option value="1">1 estrella</option>
                                        <option value="2">2 estrellas</option>
                                        <option value="3">3 estrellas</option>
                                        <option value="4">4 estrellas</option>
                                        <option value="5">5 estrellas</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="comentario">[[#{resena.comentario}]]</label>
                                    <textarea placeholder="Agregar comentario..." type="text" class="form-control"
                                              name="comentario" required="true"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn" type="submit"
                                        style="background-color: #F54D33; color: white; border-radius: 25px; width: 200px;">
                                    [[#{accion.enviaresena}]]</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
           

    </body>
</html>
