<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="sinCuenta/plantilla :: head">        
    </head>
    <body>        
        <section th:replace="sinCuenta/plantilla :: menuSuperiorInicio"/>
        <section th:replace="sinCuenta/plantilla :: hazteUnaCuenta"/>        
        <section th:replace="sinCuenta/plantilla :: iniciaCuenta"/>        
        <footer th:replace="sinCuenta/plantilla :: footer"/>
    </body>
</html>
